page-pop-scout {

}
ion-col{
    font-size: 12px;
}

.background-pop{
    background: #ffffff !important;
}

.escudo{
    width: 45px !important;
    height: 45px !important;
    margin: 0 auto;
}

.popover-ios .popover-content {
  width: 250px; /* the new global width */
}
